.space{
    margin: 20px;
}

.ButtonMovie{
    position: absolute;
	padding: 2.5px;
	background-color: blue;
	border-radius: 16px;
	bottom: 10px;
	left: 90px;
	width: 100px;
    color: aliceblue;
  }

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}




.card-deck .card {
    max-width: 300px;

}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}