


.profiles-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    display: flex;
  
    height: 100vh;
  }
  
  .title {
    font-size: 40px;
    color: black;
    font-weight: bold;  
  }
  
   .profiles {
    display: flex;
  }
  
   .profile {
    display: flex;
    flex-direction: column;
  
    margin: 0px 20px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  
  .profile:first-child {
    margin-left: 0px;
  }
  
  .profile:last-child {
    margin-right: 0px;
  }
  
   .profile:hover {
    cursor: pointer;   
   
  }
    
  
  .image {
    margin-bottom: 15px;
  
    width: 200px;
    height: 200px;
  
    border: 5px solid transparent;
  }
  
  .image:hover{
    border: 4px solid black;
  }
  .username {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 24px;
  }
  
  