body {
  
  background-image: url("https://img.freepik.com/premium-vector/kawaii-corgi-little-cute-pet-dog-with-smiling-cute-face-sleeping-lying-sitting-seamless-pattern-purple-background-with-magic-star-hand-drawn-trendy-modern-illustration-flat-cartoon-style_318237-395.jpg?w=2000");
  background-size: cover;  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.linkColor{
    color: aliceblue;
    font-size: 30px;
}




